<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Image with landscape photo" src="{{ "/assets/img/fromportlandtoportland.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> From Portland to Portland </h3>
    <p>A traveling guide leading the user to explore more highlights about an epic bicycle journey from Portland, ME. to Portland, OR.. Collaborated with designers on implementing responsive design elements on the webpage.</p>
    <a class="project-link" href="https://from-portland-to-portland.netlify.app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="snapshot of the website" src="{{ "/assets/img/place.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Place </h3>
    <ul>
      <li>Used technologies: HTML5, CSS, Vanilla JavaScript, REST API, Git</li>
    </ul>
    <p>A user blog to upload favorite places with images and names to save the best life moments. The user can edit his name and occupation, as well as add new places as he explores the world. Documented bug reports and had a pair check code review for further improvements.</p>
    <a class="project-link" href="http://place-shareyouspot.surge.sh">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cancer is treatable" src="{{ "/assets/img/raklechitsa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cancer is treatable </h3>
    <ul>
      <li> Used technologies: Vue.js, Nuxt.js, Git, Prettier, Strapi as a CMS tool, Netlify as CI/CD </li>
    </ul>
    <p>Building a clone website for the non-profit organization about inspiring stories of people who has defeated cancer.</p>
    <a class="project-link" href="https://rak-lechitsa.netlify.app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="snapshot of the website" src="{{ "/assets/img/Feynman.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Learning How to Learn </h3>
    <p>An educational landing page with multiple sections about various methods to obtain new skills. Brought mockups to life with the final result of a web page and CSS animation.</p>
    <a class="project-link" href="https://lerning-to-learn.netlify.app">Check it out</a>
  </div>
</div>
