<div class="user-details">
  <h1> Featured Projects </h1>
  <p>While working in Practicum by Yandex I have developed 4 projects solo and together with a team. Implemented UI using HTML5, CSS, SCSS and Vanilla Javascript - Wrote integration tests using Selenium (WebdriverIO) and Mocha
  </p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cancer is treatable" src="{{ "/assets/img/raklechitsa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cancer is treatable </h3>
    <ul>
      <li> Used technologies: Vue.js, Nuxt.js, Git, Prettier, Strapi as a CMS tool </li>
    </ul>
    <p>Building a clone website for the non-profit organization about inspiring stories of people who has defeated cancer.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Place </h3>
    <ul>
      <li>Used technologies: HTML5, CSS, Vanilla JavaScript, REST, Git</li>
    </ul>
    <p>A user blog to upload favorite places with images and names to save the best life moments. The user can edit his name and occupation, as well as add new places as he explores the world. Documented bug reports and had a pair check code review for further improvements.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cancer is treatable" src="{{ "/assets/img/raklechitsa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Traveling around Russia </h3>
    <ul>
      <li> Used technologies: Vue.js, Nuxt.js, Git, Prettier, Strapi as a CMS tool </li>
    </ul>
    <p>Building a clone website for the non-profit organization about inspiring stories of people who has defeated cancer.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
