#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
  display: flex;
}

.user {
  text-align: center;
  font-size: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 48px;
    display: flex;
    justify-content: center;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}